header{
    background-color: black;
}

a[href="#"]{
    background-color: #94003e;
    border: white solid;
    color: white;
}

#logoheader{
    max-width: 20rem!important;
}

#pag-switch{
    background-color: #19191a;
    text-shadow: -5px 5px 5px black;;
}

.navbarbtn{
    max-height: 4rem!important;
    align-items: center!important;;
}

#pag-body{
    background: rgba(232, 232, 232, 0.3);
    margin-left: 10rem!important;
    margin-right: 10rem!important;
    padding-bottom: max-content!important;
}

.img-item{
    box-shadow: 2px 5px 10px black;
    min-height: 15rem;
    max-height: 15rem;
}

#items{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

footer{
    background-color: #19191a;
    margin-top: 6.8rem;
}

#contenedor-botones{
    padding-left: 16rem;
}

.btn-socialm{
    font-size: 2rem!important;
    border-radius: 4rem;
}

#cohorte{
    color: white;
    text-align: center;
    padding-top: 1rem;
    /* padding-right: 16rem; */
}

#name,#mail{
    min-width: 35rem!important;
}

#message{
    min-width: 35rem!important;
    min-height: 10rem!important;
}

#submit{
    text-align: right;
    margin-top: 1rem;
}

#formcontact{
    padding-bottom: 3.4rem;
}


#imgdetails{
    min-width: 400px;
}

#cardContainer{
    flex-wrap: wrap;
}

.card{
    min-width: 20rem;
    margin-bottom: 5rem;
}

.eventDesc{
    min-height: 5rem;
}

@media (min-width: 1921px) and (max-width: 2560px){
    .card {
        min-width: 30vh;
        min-height: 30vh;
        margin-bottom: 5vh;
        margin-left: 5vh;
        font-size: larger;
    }

    .navbarbtn{
        min-width: 10vh;
        min-height: 5vh;
        font-size: x-large;
    }

    #logoheader {
        min-height: 10vh;
        min-width: 40vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .categories{
        font-size: x-large;
    }

    .btn-socialm{
        font-size: 5vh!important;
    }

    #cohorte{
        font-size: 5vh!important;
        padding-right: 10%;
    }

    #categories{
        font-size: xx-large;
    }
    
    input{
        font-size: xx-large;
    }

    .pag-switch{
        font-size: xx-large;
    }
}

@media (min-width: 1025px) and (max-width: 1920px){
    #pag-body{
        min-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .card {
        max-width: 15vh;
        min-height: 42vh;
        min-height: 400px;
        margin-bottom: 5vh;
    }

    .navbarbtn{
        min-width: 10vh;
        min-height: 5vh;
        font-size: large;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #logoheader {
        min-height: 7vh;
        min-width: 30vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #categories{
        font-size: x-large;
    }

    .btn-socialm{
        font-size: 4vh!important;
    }

    #contenedor-botones{
        padding-left: 15%;
    }

    #cohorte{
        font-size: 4vh!important;
        padding-right: 15%;
    }
    
    #search-bar{
        font-size: x-large;
    }

    .categories{
        font-size: x-large;
    }

    /* #stats-container{
        padding-right: 10%;
    } */
}

@media (min-width: 768px) and (max-width: 1024px){
    #pag-body{
        min-width: 80%;
        margin-left: 10%!important;
    }

    #card-template {
        max-width: 5vh!important;
        max-height: 70vh;
        margin-bottom: 5vh;
    }

    .navbarbtn{
        min-width: 4vh;
        max-height: 2vh;
        font-size: smaller;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #logoheader {
        max-height: 14vh;
        min-width: 9vh;
    }

    #pag-switch {
        max-height: 15vh;
    }

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .categories{
        font-size: medium;
    }

    .btn-socialm{
        font-size: 4vh!important;
    }

    #cohorte{
        font-size: 4vh!important;
        margin-right: 5%;
    }

    #contenedor-botones{
        padding: 0;
        margin-left: 5%;
    }
}

@media (min-width: 400px) and (max-width:768px){
    #pag-body{
        margin-left: 1%!important;
        margin-right: 1%!important;                              
    }

    .header-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 645px;
        padding-bottom: 3vh;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    input{
        font: small;
        margin-top: 5%;
    }

    .card {
        min-width: 10vh;
        min-height: 5vh;
        margin-bottom: 5vh;
    }

    .navbarbtn{
        min-width: 6vh;
        min-height: 3vh;
        font-size: large;
    }

    #logoheader {
        min-height: 5vh;
        min-width: 10vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #categories{
        font-size: small;
    }

    input{
        font: small;
        margin-top: 5%;
    }

    .btn-socialm{
        font-size: 2vh!important;
    }

    #contenedor-botones{
        padding: 0;
        margin-left: 5%;
    }

    #cohorte{
        font-size: 2vh!important;
        margin-right: 5%;
    }

    #pagb{
        min-width: 100%;
    }

    div.header-container{
        margin-right: 0;
    }

    footer{
        max-width: 100%;
    }
}