header{
    background-color: black;
}

a[href="#"]{
    background-color: #94003e;
    border: white solid;
    color: white;
}

#logoheader{
    max-width: 20rem!important;
}

#pag-switch{
    background-color: #19191a;
    text-shadow: -5px 5px 5px black;;
}

.navbarbtn{
    max-height: 4rem!important;
    align-items: center!important;;
}

#pag-body{
    background: rgba(232, 232, 232, 0.3);
    margin-left: 10rem!important;
    margin-right: 10rem!important;
    padding-bottom: max-content!important;
}

.img-item{
    box-shadow: 2px 5px 10px black;
    min-height: 15rem;
    max-height: 15rem;
}

#items{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

footer{
    background-color: #19191a;
    margin-top: 6.8rem;
}

#contenedor-botones{
    padding-left: 16rem;
}

.btn-socialm{
    font-size: 2rem!important;
    border-radius: 4rem;
}

#cohorte{
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-right: 16rem;
}

#name,#mail{
    min-width: 35rem!important;
}

#message{
    min-width: 35rem!important;
    min-height: 10rem!important;
}

#submit{
    text-align: right;
    margin-top: 1rem;
}

#formcontact{
    padding-bottom: 3.4rem;
}


#imgdetails{
    min-width: 400px;
}

#cardContainer{
    flex-wrap: wrap;
}

.card{
    min-width: 20rem;
    margin-bottom: 5rem;
}

.eventDesc{
    min-height: 5rem;
}

@media (min-width: 1921px) and (max-width: 2560px){
    .card {
        min-width: 30vh;
        min-height: 30vh;
        margin-bottom: 5vh;
        font-size: larger;
    }

    .navbarbtn{
        min-width: 10vh;
        min-height: 5vh;
        font-size: x-large;
    }

    #logoheader {
        min-height: 10vh;
        min-width: 40vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .categories{
        font-size: x-large;
    }

    .btn-socialm{
        font-size: 5vh!important;
    }

    #cohorte{
        font-size: 5vh!important;
    }
}

@media (min-width: 1025px) and (max-width: 1920px){
    .card {
        min-width: 10vh;
        min-height: 5vh;
        margin-bottom: 5vh;
    }

    .navbarbtn{
        min-width: 10vh;
        min-height: 5vh;
        font-size: large;
    }

    #logoheader {
        min-height: 5vh;
        min-width: 10vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .categories{
        font-size: larger;
    }

    .btn-socialm{
        font-size: 4vh!important;
    }

    #cohorte{
        font-size: 4vh!important;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .card {
        min-width: 10vh;
        min-height: 5vh;
        margin-bottom: 5vh;
    }

    .navbarbtn{
        max-width: 5vh;
        max-height: 3vh;
        font-size: smaller;;
    }

    #logoheader {
        max-height: 7vh;
        min-width: 5vh;
    }

    /* #pag-switch {
        min-height: 10vh;
    } */

    .switch-content{
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .categories{
        font-size: larger;
    }

    .btn-socialm{
        font-size: 4vh!important;
    }

    #cohorte{
        font-size: 4vh!important;
    }
}
