header{
    background-color: black;
}

a[href="#"]{
    background-color: #94003e;
    border: white solid;
    color: white;
}

#logoheader{
    max-width: 20rem!important;
}

#pag-switch{
    background-color: #19191a;
}

#pag-switch{
    text-shadow: -5px 5px 5px black;;
}

.navbarbtn{
    max-height: 4rem!important;
    align-items: center!important;;
}

#pag-body{
    background: rgba(232, 232, 232, 0.3);
    margin-left: 10rem!important;
    margin-right: 10rem!important;
    padding-bottom: max-content!important;
}

.img-item{
    box-shadow: 2px 5px 10px black;;
}

#items{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

footer{
    background-color: #19191a;
    margin-top: 6.8rem;
}

#contenedor-botones{
    padding-left: 16rem;
}

.btn-socialm{
    font-size: 3rem!important;
    border-radius: 4rem;
}

#cohorte{
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-right: 16rem;
}

#name,#mail{
    min-width: 35rem!important;
}

#message{
    min-width: 35rem!important;
    min-height: 10rem!important;
}

#submit{
    text-align: right;
    margin-top: 1rem;
}

#formcontact{
    padding-bottom: 3.4rem;
}
